n8n/inbound-message-workflow.json
{
  "name": "WhatsApp Inbound Message Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.trust.escalation_needed}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "escalation-check",
      "name": "Escalation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.message_type}}",
              "operation": "notEqual",
              "value2": "text"
            }
          ]
        }
      },
      "id": "media-check",
      "name": "Media Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/flags",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$json.message.id}}"
            },
            {
              "name": "flag_type",
              "value": "escalated"
            },
            {
              "name": "severity",
              "value": "high"
            },
            {
              "name": "action_taken",
              "value": "escalated"
            },
            {
              "name": "notes",
              "value": "Escalated for human review"
            }
          ]
        }
      },
      "id": "escalation-log",
      "name": "Log Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 120]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/media",
        "method": "PATCH",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_id",
              "value": "={{$json.message.id}}"
            },
            {
              "name": "processing_status",
              "value": "completed"
            }
          ]
        }
      },
      "id": "media-update",
      "name": "Update Media Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"processed\", \"message_id\": \"{{$json.message.id}}\"}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Escalation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Check": {
      "main": [
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Check": {
      "main": [
        [
          {
            "node": "Update Media Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalation": {
      "main": [
        [
          {
            "node": "Media Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Media Status": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}